# Node modules
node_modules/

# Cordova and Android build files
platforms/
plugins/
build/
*.apk

# Generated www files
www/
assets/www/

# IDE and Gradle
.idea/
.gradle/
local.properties

# System files
.DS_Store
Thumbs.db
